<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.user.ApplicationUserMapper">

  <select id="findByUsername" resultType="ApplicationUser">
    SELECT * FROM ApplicationUser WHERE username = #{username}
  </select>
  <select id="findAll" resultType="ApplicationUser">
    SELECT * FROM ApplicationUser
  </select>
  
    <insert id="save">
    INSERT ApplicationUser (id,username,password)
    VALUES (#{id},#{username}, #{password})
  </insert>
</mapper>

